:local .blue {
  color: #2D83E0;
}

:local .gold {
  color: #FCB80D;
}

:local .blueSmall {
  color: #2D83E0;
  font-size: 1.5vmin;
}

:local h3 {
  font-size: 2.25vmin;
  padding-bottom: 0vmin;
  margin-bottom: 1.25vmin;
}

:local .blueArrowRight {
  height: 2vmin;
  width: 2vmin;
}

:local .arrowDown {
  height: 2vmin;
  width: 2vmin;
  transform: translateY(.25vmin);
}

:local .border {
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.5vmin;
}

:local .container {
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: .5vmin;
}

:local .histBarContainer {
  display: flex;
  padding-bottom: .3vmin;
  width: 25vmin;
  height: 2.4vmin;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: #0072D0;
}

:local .blueFlex {
  white-space: nowrap;
  font-size: 1.5vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
  width: 5vmin;
}

:local .histBar {
  background: linear-gradient(to bottom,#ffce00,#ffa700);
  background-color: #ffce00;
  height: 2.25vmin;
  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
  display: none;
}

:local .histBarBackground {
  background: linear-gradient(to bottom,#eee,#f6f6f6);
  background-color: #f3f3f3;
  height: 2.25vmin;
  width: 24vmin;
  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
}

:local .button {
  height: 3.5vmin;
  width: 20vmin;
  margin-top: 2.5vmin;
  font-size: 1.5vmin;
}

:local .shareContainer {
  padding-left: 4vmin;
  font-size: 1.5vmin;
}

:local .histOuterContainer {
  margin: auto;
  display: flex;
  align-content: flex-start;
  padding-bottom: .5vmin;
  padding-top: .5vmin;
}

:local .shareText {
  margin-bottom: 1.5vmin;
}

:local .histogram {
  width: 30vmin;
}

:local .blueFlexRight {
  white-space: nowrap;
  font-size: 1.5vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
  width: 5vmin;
  text-align: right;
}

/* TBD animate on scroll - hist bar animation */
:local .animated {
  display: inline;
  -webkit-animation-name: stretchInLeft;
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0.25;
  -webkit-animation-timing-function: ease-in;

  animation-name: stretchInLeft;
  animation-duration: .25s;
  animation-delay: 0.25;
  timing-function: ease-in;
}

@keyframes stretchInLeft {
  from { width: 0%; }
}

:local .blueLarge:hover {
  cursor: pointer;
  color: #C15926 !important;
}

:local .blurbContainer:hover {
  cursor: pointer;
  color: #C15926 !important;
}

:local .blueLarge {
  font-size: 2vmin;
}

:local .blurbContainer {
  color: #2D83E0;
}

:local .blueSmall:hover {
  color: #C15926 !important;
  cursor: pointer;
  text-decoration: underline;
}

:local .histBarContainer:hover {
  color: #C15926 !important;
  cursor: pointer;
  text-decoration: underline;
}