:local .blue {
  color: #2D83E0;
}

:local .gold {
  color: #FCB80D;
}

:local .blueSmall {
  color: #2D83E0;
  font-size: 1.75vmin;
}

:local h3 {
  font-size: 2.63vmin;
  padding-bottom: 0vmin;
  margin-bottom: 1.46vmin;
}

:local .blueArrowRight {
  height: 2vmin;
  width: 2vmin;
}

:local .arrowDown {
  height: 2.34vmin;
  width: 2.34vmin;
  transform: translateY(.29vmin);
}

:local .border {
  border-width: 0;
  border-top: 1.17px solid #e7e7e7;
  padding-top: 1.75vmin;
}

:local .container {
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: .58vmin;
}

:local .histBarContainer {
  display: flex;
  padding-bottom: .348vmin;
  width: 29vmin;
  height: 2.78vmin;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: #0072D0;
}

:local .blueFlex {
  white-space: nowrap;
  font-size: 1.75vmin;
  padding-left: 1.16vmin;
  padding-right: 1.16vmin;
  width: 5.8vmin;
}

:local .histBar {
  background: linear-gradient(to bottom,#ffce00,#ffa700);
  background-color: #ffce00;
  height: 2.61vmin;
  border-radius: 1.16px;
  box-shadow: inset 0 1.16px 2.32px rgba(0,0,0,.4), inset 0 0 0 1.16px rgba(0,0,0,.1);
  display: none;
}

:local .histBarBackground {
  background: linear-gradient(to bottom,#eee,#f6f6f6);
  background-color: #f3f3f3;
  height: 2.61vmin;
  width: 27.84vmin;
  border-radius: 1.16px;
  box-shadow: inset 0 1.16px 2.32px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
}

:local .button {
  height: 4.06vmin;
  width: 23.2vmin;
  margin-top: 2.9vmin;
  font-size: 1.75vmin;
}

:local .shareContainer {
  padding-left: 4.64vmin;
  font-size: 1.75vmin;
}

:local .histOuterContainer {
  margin: auto;
  display: flex;
  align-content: flex-start;
  padding-bottom: .58vmin;
  padding-top: .58vmin;
}

:local .shareText {
  margin-bottom: 1.75vmin;
}

:local .histogram {
  width: 34.8vmin;
}

:local .blueFlexRight {
  white-space: nowrap;
  font-size: 1.75vmin;
  padding-left: 1.16vmin;
  padding-right: 1.16vmin;
  width: 5.8vmin;
  text-align: right;
}

/* TBD animate on scroll - hist bar animation */
:local .animated {
  display: inline;
  -webkit-animation-name: stretchInLeft;
  -webkit-animation-duration: .58s;
  -webkit-animation-delay: 0.29;
  -webkit-animation-timing-function: ease-in;

  animation-name: stretchInLeft;
  animation-duration: .29s;
  animation-delay: 0.29;
  timing-function: ease-in;
}

@keyframes stretchInLeft {
  from { width: 0%; }
}

:local .blueLarge:hover {
  cursor: pointer;
  color: #C15926 !important;
}

:local .blurbContainer:hover {
  cursor: pointer;
  color: #C15926 !important;
}

:local .blueLarge {
  font-size: 2.32vmin;
  font-weight: 400;
}

:local .blurbContainer {
  color: #2D83E0;
}

:local .blueSmall:hover {
  color: #C15926 !important;
  cursor: pointer;
  text-decoration: underline;
}

:local .histBarContainer:hover {
  color: #C15926 !important;
  cursor: pointer;
  text-decoration: underline;
}