:local .blue {
  color: #2D83E0;
}

:local .gold {
  color: #FCB80D;
}

:local .blueSmall {
  color: #2D83E0;
  font-size: 1.5vmin;
}

:local .blueLarge {
  color: #2D83E0;
  font-size: 2vmin;
}

:local h3 {
  font-size: 2.25vmin;
  padding-bottom: 0vmin;
  margin-bottom: 1.25vmin;
}

:local .blueArrowRight {
  height: 2vmin;
  width: 2vmin;
}

:local .arrowDown {
  height: 2vmin;
  width: 2vmin;
  transform: translateY(.25vmin);
}

:local .border {
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.5vmin;
}

:local .container {
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: .5vmin;
}

:local .histBarContainer {
  display: flex;
  padding-bottom: .5vmin;
  width: 25vmin;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

:local .blueFlex {
  color: #2D83E0;
  white-space: nowrap;
  font-size: 1.5vmin;
  flex: 0;
  padding-left: 1vmin;
  padding-right: 1vmin;
}

:local .histBar {
  background: linear-gradient(to bottom,#eee,#f6f6f6);
  background-color: #f3f3f3;
  height: 2.25vmin;
  width: 26vmin;
  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
}

:local .button {
  height: 3.5vmin;
  width: 20vmin;
  margin-top: 2.5vmin;
  font-size: 1.5vmin;
}

:local .shareContainer {
  padding-left: 5vmin;
  font-size: 1.5vmin;
}

:local .histOuterContainer {
  margin: auto;
  display: flex;
  align-content: flex-start;
  padding-bottom: .5vmin;
  padding-top: .5vmin;
}

:local .shareText {
  margin-bottom: 1.5vmin;
}

:local .histogram {
  width: 30vmin;
}