body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #111111;
  line-height: 2.75vmin;
  font-size: 1.75vmin;
}

.grey {
  color: gray;
}

button:hover {
  box-shadow: inset 0px 0px 10px 20px rgba(134, 134, 134, 0.06);
  cursor: pointer;
}