:local .blue {
    font-size: 1.75vmin;
    color: #2D83E0;
}

:local .mentionItem {
    font-size: 1.75vmin;
    background-color: #D6E7E9;
    border-bottom: 1.16px solid black;
    padding-left: 2.55vmin;
    padding-right: 2.55vmin;
    height: 3.48vmin;
    line-height: 3.48vmin;
    text-align: center;
    vertical-align: middle;
    margin: .58vmin;
}

:local .mentionItem:hover {
    cursor: pointer;
}

:local .mentionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 63.8vmin;
}

:local h4 {
    font-size: 2.088vmin;
    padding-bottom: 0vmin;
    margin-bottom: 1.45vmin;
}

:local .doubleArrowDown{
    height: 2.32vmin;
    width: 2.32vmin;
}

:local .container {
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: .58vmin;
}

:local .blue:hover {
  color: #C15926 !important;
  cursor: pointer;
  text-decoration: underline;
}

