:local .grey {
  color: gray;
}

:local .orange {
  color: #C15926;
}

:local .gold {
  color: #FCB80D;
}

:local .profile {
  height: 3.5vmin;
  width: 3.5vmin;
  padding-right: 1.25vmin;
}

:local .profileContainer {
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: .5vmin;
}

:local .review {
  font-size: 1.5vmin;
  line-height: 2.25vmin;
}