:local .review {
  font-size: 1.75vmin;
}

:local .grey {
  color: gray;
  padding-bottom: 1vmin;
}

:local .orange {
  font-size: 1.45vmin;
  color: #C15926;
}

:local .gold {
  color: #FCB80D;
}

:local .profile {
  height: 4.06vmin;
  width: 4.06vmin;
  padding-right: 1.45vmin;
}

:local .profileContainer {
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: .87vmin;
}

:local .button {
  height: 3.19vmin;
  width: 11.6vmin;
  font-size: 1.75vmin;
}

:local .text {
  margin-top: .58vmin;
  margin-bottom: .58vmin;
  width: 60%;
}

:local p {
  margin-top: .75vmin;
  margin-bottom: .75vmin;
}

:local .actionContainer {
  display: flex;
  width: 52.2vmin;
  justify-content: flex-start;
  align-items: center;
}

:local .greyFlex {
  color: gray;
  flex: 0;
  flex-shrink: 0;
  white-space: nowrap;
  padding-left: 1.16vmin;
  padding-right: 1.16vmin;
  text-align: center;
}

:local .lightGreyFlex {
  color: rgb(207, 207, 207);
  flex: 0;
  flex-shrink: 0;
  white-space: nowrap;
  padding-left: 1.16vmin;
  padding-right: 1.16vmin;
  text-align: center;
}

:local .buttonFlex {
  height: 2.75vmin;
  max-width: 11.6vmin;
  font-size: 1.75vmin;
  flex: 1;
}

:local .lightGreyPad {
  color: rgb(207, 207, 207);
  padding-left: 1.16vmin;
  padding-right: 1.16vmin;
}

:local .greyFlex:hover {
  color: #C15926 !important;
  cursor: pointer;
}